.home-component-section {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-title {
  font-size: 6vmin;
}
ul {
  list-style: none;
  list-style: none;
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  display: flex; /* Flexbox to center items */
  flex-direction: column; /* Stack list items vertically */
  align-items: center; /* Center items horizontally */
}
