main {
  height: 100vh;
  display: grid;

  grid-template-rows: 15% 85%;
}
ul {
  list-style: none;
}

.header {
  display: grid;
  grid-template-columns: 15% 85%; /* 15% for logo, 85% for the text content */
}
.content {
  grid-row: 2/2;
  display: grid;
}
.header-logo {
  grid-column: 1 / 2; /* Logo in the first column */
  display: flex; /* Use Flexbox to align items */
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}
.header-text {
  grid-column: 2/2;

  display: grid;
  grid-template-rows: 70% 30%;
  height: 15vh;

  text-align: center;
}

img {
  max-width: 100%;
}
/* @media (min-width: 511px) {
  .header-text {
    display: grid;
    grid-column: 2;
    grid-template-rows: 70% 30%;
    max-height: 100%;

    height: 100%;
  }
} */

.header-title {
  grid-row: 1 / 2; /* Title on the top */
  height: 70%;
  font-size: 9vmin;
}

.header-blurb {
  grid-row: 2 / 3; /* Blurb below the title */
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}
/*
@media (max-width: 510px) {
  .header {
    display: grid;
    grid-template-columns: 20% 80%;
  }

  .header-logo {
    grid-column: 1 / 2;
  }

  .header-blurb {
    display: none;
  }

  .header-title {
    grid-column: 2 / 3;
    font-size: 13vmin;
    padding-left: 3vmin;
  }
} */
