/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Gilroy", Roboto, "Helvetica Neue", sans-serif; /* Gilroy will be the primary font */
}

@font-face {
  font-family: "Gilroy";
  src: url("../src/assets/fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
