<section class="home-component-section">
  <h1 class="home-title">Welcome!</h1>
  <p class="home-blurb">
    Generative is an exploration of math based canvas art, in an interactive
    angular environment
  </p>
  <div class="home-navigation">
    <ul>
      <li>
        <a routerLink="/tree">Fractal tree</a>
      </li>
      <li>
        <a routerLink="/rose">Rhodonea Roses</a>
      </li>
      <li>
        <a routerLink="/fourierSpiro">Fourier Spirograph</a>
      </li>
      <li>
        <a routerLink="/doublePendulum">Double Pendulum</a>
      </li>
      <li>
        <a routerLink="/boids">Flocking Boids</a>
      </li>
    </ul>
  </div>
</section>
